<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="chord_weight" value="3"/>
    <add key="svm_gamma" value="0.0025"/>
    <add key="svm_c" value="0.8"/>

    <add key="inputDirectory" value="D:\新西兰学习生活\大学上课\乐谱数据备份"/>
    <add key="inputResult" value="D:\新西兰学习生活\大学上课\乐谱数据备份\Result.csv"/>
    <add key="testDirectory" value="D:\新西兰学习生活\大学上课\测试数据备份"/>
    <add key="testResult" value="D:\新西兰学习生活\大学上课\测试数据备份\Result.csv"/>
  </appSettings>
</configuration>